body {
    background-color: rgb(103, 188, 130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{border: 17px groove rgba(104,122,76,0.96);}
div#i{
    display: grid;
    grid-template-columns: 50% 50%;
}



div#carouselExampleCaptions{
    width: 80%;
    margin: auto;
}
